@charset "UTF-8";

#contentBox {width: 800px; height:auto; margin:auto;}
#contentBox > div{width: 100%; height: 500px; margin-bottom:2rem; background-color: #ccc;
  background-image:url("../../img/snow.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  background-size:cover;
  border:50px dotted #fa0; box-sizing:border-box; 
  background-color: #acf; padding:40px;}

  .clip_1{background-clip:border-box;}
  .clip_2{background-clip:padding-box;}
  .clip_3{background-clip:content-box;}

  .origon_1{background-origin:border-box;}
  .origon_2{background-origin:padding-box;}
  .origon_3{background-origin:content-box;}